
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
.build/*
Example_OSX/Example_OSX.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Example_OSX/Example_OSX.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Example/FA Swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Example_OSX/Example_OSX.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspacedata
Font-Awesome-Swift.xcodeproj/xcshareddata/xcschemes/Font-Awesome-Swift-Package.xcscheme
Font-Awesome-Swift.xcodeproj/Font_Awesome_Swift_Info.plist
Font-Awesome-Swift.xcodeproj/project.pbxproj
Font-Awesome-Swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Font-Awesome-Swift.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
